.content {
    width: 100%;
}
a
{
    text-decoration: none;
}
* {
    font-family: 'Bebas Neue';
}
li{
    list-style: none;
}
main
{
    margin-left: 20%;
    width: 80%;
    height: 50px;
    background-color: whitesmoke;
}