@media only screen and (max-width: 700px) {
    .header-top {
        position: absolute;
        background-image: url(../img/ab.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 150px;
        width: 100%;
    }
    
    .icono {
        width: 110px;
        position: absolute;
        top: 30px;
    }
    .iconMenu {
        width: 90px;
        position: absolute;
        top: 40px;
        right: 0%;
    }
    .nav {
        box-sizing: content-box;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        top: 110px;
        width: 85%;
        text-align: center;
        margin-left: 7%;
        display: none;
        background: linear-gradient(to bottom, rgb(93, 90, 241), rgb(13, 11, 139));
    }
    li {
        list-style: none;
    }
    li a {
        color: white;
    }
    .iconMenuCerrado {
        width: 90px;
        position: absolute;
        top: 40px;
        right: 0%;
        display: none;
    }
    .header {
        display: none;
    }
    .fotoIcono{
        display: none;
    }
    .header {
        display: none;
    }
}


