@media only screen and (min-width: 701px){
    .nav{
        display: none;
    }
    .icons input[onclick]
    {
        display: none;
    }
    .icons {
        display: none;
    }
    .header{
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 4%;
        background: url(../img/ab2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .fotoIcono{
        width: 20%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .left-nav {
        margin-left: 2.5%;
    }
    .navigator {
        text-align: center;
        
    }
    .navigator li {
        font-size: 170%;
        color: white;
        background: linear-gradient(to bottom, rgb(17, 14, 190), rgb(13, 11, 139));
        width: 30%;
    }
    .navigator li a{
        color: white;
    }
    
}   
    