@media only screen and (min-width: 701px){
    .nav{
        display: none;
    }
    .icons input[onclick]
    {
        display: none;
    }
    .icons {
        display: none;
    }
    .header{
        width: 100%;
        padding-top: 1%;
        padding-bottom: 2%;
        margin-bottom: 1%;
        background: url(../img/ab2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        height: 1%;
        background-position-y: 20%;
    }
    .fotoIcono{
        width: 13%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .left-nav {
        width: 30%;
        margin-right: 10%;
        box-sizing: content-box;
        display: inline-block;
        margin-right: 2%;
    }
    .navigator {
        text-align: center;
        width: 100%;
        
    }
    .navigator li {
        font-size: 200%;
        color: white;
        background: linear-gradient(to bottom, rgb(17, 14, 190), rgb(13, 11, 139));
        width: 100%;
    }
    .navigator li a{
        color: white;
    }
    .video {
        display: inline-block;
        position: absolute;
        left: 32%;
        width: 60%;

    }
}   
    